* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Pangolin', cursive;
}

nav.navbar .nav-link {
    cursor: pointer !important;
}

nav.navbar a {
    color: #fff !important;
}

nav.navbar a:hover {
    background-color: #222;
}

.dropdown-menu {
    background: #222;
}

div.head {
    border-bottom: 1px solid #ccc;
}

.setting {
    color: rgb(66, 61, 61);
    font-size: 1.3em;
    cursor: pointer;
}