* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Pangolin', cursive;
}

nav.navbar .nav-link {
    cursor: pointer !important;
}

nav.navbar a {
    color: #fff !important;
}

nav.navbar a:hover {
    background-color: #222;
}

.dropdown-menu {
    background: #222;
}